<div class="portfolio-modal modal fade" id="portfolioModal{{@index}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <h2>{{title}}</h2>
              <hr class="star-primary">
              <img class="img-fluid img-centered" src="img/portfolio/{{img}}" alt="">
              {{descriptionTemplate}}
              <ul class="list-inline item-details">
                {{#if demoUrl}}
                <li>Live Demo:
                  <strong>
                    <a href="{{demoUrl}}">{{title}}</a>
                  </strong>
                </li>
                {{/if}}
                <li>Date:
                  <strong>
                    <a href="{{#if demoUrl}}{{demoUrl}}{{else}}{{repoUrl}}{{/if}}">{{date}}</a>
                  </strong>
                </li>
                <li>Code:
                  <strong>
                    <a href="{{repoUrl}}">Git Hub</a>
                  </strong>
                </li>
              </ul>
              <button class="btn btn-success" type="button" data-dismiss="modal">
                <i class="fa fa-times"></i>
                Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>